<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container{{ modifierContainer ? '-' + modifierContainer : null}}">
    <img [routerLink]="['']" src="assets/images/icons/logo-second.svg"
         class="navbar-brand" routerLink="''" alt=""/>
    <button class="navbar-toggler" (click)="toggleDisplay()" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar__menu collapse navbar-collapse" [class.show]="showMenu" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a [routerLink]="['']" routerLinkActive="router-link-active">Home</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/about-us']" routerLinkActive="router-link-active">About Us</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/portfolio']" routerLinkActive="router-link-active">Portfolio</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/faq']" routerLinkActive="router-link-active">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
