<footer>
  <div class="container">
    <div class="contacts">
      <a class="mail" href="mailto:carpentry@3zconstruction.co.uk">carpentry@3zconstruction.co.uk</a>
      <a class="phone" href="tel:07507703313">07507703313</a>
      <div class="social">
        <ul class="social__list">
          <li class="social__item">
            <a href="https://www.facebook.com/3zcfurniture"
               target="_blank" class="social__link facebook">
              <img src="assets/images/icons/facebook.svg" alt="3zc furniture" width="20" />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--foote_bottom_ul_amrc ends here-->
    <div class="text-center">Copyright @2021 3zc furniture</div>

    <!--<ul class="social_footer_ul">
      <li><a href="https://www.facebook.com/3zcfurniture"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="https://www.facebook.com/3zcfurniture"><i class="fab fa-twitter"></i></a></li>
      <li><a href="https://www.facebook.com/3zcfurniture"><i class="fab fa-linkedin"></i></a></li>
      <li><a href="https://www.facebook.com/3zcfurniture"><i class="fab fa-instagram"></i></a></li>
    </ul>-->
    <!--social_footer_ul ends here-->
  </div>

</footer>
