<app-home-info></app-home-info>

<div class="row row-0-gutter">
  <div class="col-sm-6 col-0-gutter">
    <app-home-porfolio title="Bedroom furniture"
                       subTitle="Bedroom furniture subtitle"
                       src="bedroom-furniture/bedroomFurniture.jpg"
                       detailsLink="/portfolio"
    ></app-home-porfolio>
  </div>
  <div class="col-sm-6 col-0-gutter">
    <app-home-porfolio title="Bespoke tables"
                       subTitle="Bespoke tables subtitle"
                       src="bespoke-tables/bespoke-tables.jpg"
                       detailsLink="/portfolio"
    ></app-home-porfolio>
  </div>
  <div class="col-sm-6 col-0-gutter">
    <app-home-porfolio title="Kitchen"
                       subTitle="Kitchen subtitle"
                       src="kitchen/kitchen-0.jpg"
                       detailsLink="/portfolio"
    ></app-home-porfolio>
  </div>
  <div class="col-sm-6 col-0-gutter">
    <app-home-porfolio title="Living Room Furniture "
                       subTitle="Bedroom furniture subtitle"
                       src="living-room-furniture/living-room-furniture.jpg"
                       detailsLink="/portfolio"
    ></app-home-porfolio>
  </div>
  <div class="col-sm-6 col-0-gutter">
    <app-home-porfolio title="Walk In Wardrobe"
                       subTitle="Walk In Wardrobe subtitle"
                       src="walk-in-wardrobe/walk-in-wardrobe3.jpg"
                       detailsLink="/portfolio"
    ></app-home-porfolio>
  </div>
  <div class="col-sm-6 col-0-gutter">
    <app-home-porfolio title="Under Stairs Storage"
                       subTitle="Under Stairs Storage subtitle"
                       src="walk-in-wardrobe/walk-in-wardrobe.jpg"
                       detailsLink="/portfolio"
    ></app-home-porfolio>
  </div>
</div>
